<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style/styles.css')}}">
        <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='style/favicon.ico')}}">
        
        <title>Left or Right</title>
    </head>
    
    <body>
        <div class="header">
            <ul>
                <li><h1><a href="/">Left or Right</a></h1></li>
                <li>
                    {% if active == "vote": %}
                    <a href="/vs" class="btn active">Vote</a>
                    {% else: %}
                    <a href="/vs" class="btn">Vote</a>
                    {% endif %}
                </li>
                <li>
                    {% if active == "leaderboard": %}
                    <a href="/leaderboard" class="btn active">Leaderboard</a>
                    {% else: %}
                    <a href="/leaderboard" class="btn">Leaderboard</a>
                    {% endif %}
                </li>
            </ul>
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>